@font-face {
   font-family: 'georgia', sans-serif;
   src: url('../fonts/georgia.ttf');
}

@font-face {
   font-family: 'georgia_bolditalic', sans-serif;
   src: url('../fonts/georgia_bolditalic.ttf');
}

html {
   box-sizing: border-box;
}


*,
*::before,
*::after {
   box-sizing: inherit;
}

body {
   font-family: 'georgia', sans-serif;
   font-size: 18px;
}

code {
   font-size: 14px;
}

ul {
   list-style-type: "\25BA";
}

li {
   padding-left: 10px;
   margin: 10px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'georgia_bolditalic', sans-serif;
}

h2 {
   display: flex;
   align-items: flex-end;
   font-size: 38px;
}

h2 span {
   font-size: 100px;
   margin: 5px 5px -13px 5px;
   padding-right: 20px;
}

h3 {
   font-size: 28px;
}

h4 {
   font-size: 22px;
}


.article {

}

.container {
   max-width: 800px;
   padding: 0 15px;
   margin: 0 auto;
   
}

.page {
   margin: 20px;
   padding: 20px 20px;
   background-color: antiquewhite;
}

.paragraph {
   
}


.pay-attention {
   display: flex;
   justify-content: space-between;
}

.pay-attention_img img{
   width: 60px;
   height: 60px;
}

.page_header-left {
   display: flex;
   align-items: center;
}

.page_header_left-number {
   font-weight: bold;
}

.page_header_left-text {
   padding-left: 50px;
   font-size: 16px;
}

.page_header_left-text span {
   margin-left: 10px;
   margin-right: 10px;
}

.page_header_right {
   display: flex;
   justify-content: right;
   align-items: center;
}

.page_header_right-text {
   padding-right: 50px;
   font-size: 16px;
}

.page_header_right-number {
   font-weight: bold;
}

.page_header_left-text span {
   margin-left: 10px;
   margin-right: 10px;
}

.bold {
   font-weight: bold;
}